@font-face {
    font-family: Cinzel;
    src: url("assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}


* {
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

main {
    background-color: white;
    position: absolute;
    width: 835px;
    height: 997px;
    left: 365px;
    top: 380px;
}

.yelow-vertikal {
    background-color: #e0b300;
    z-index: 3;
    position: absolute;
    width: 285px;
    height: 1900px;
    left: 65px;
    text-align: center;

}

.black-gorizontal-header {
    background-color: #222130;
    z-index: 2;
    position: absolute;
    width: 1200px;
    height: 278px;
    text-align: center;
    top: 118px;
    box-shadow: 0 0 20px black;
}

.black-gorizontal-footer {
    background-color: #222130;
    z-index: 2;
    position: absolute;
    width: 1200px;
    height: 278px;
    text-align: center;
    top: 1500px;
    box-shadow: 0 0 20px black;
}

header {
    width: 400px;
    height: 278px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 500px;
}


.menu {
    background-color: #222130;
    box-shadow: 0 0 20px black;

}

.menu ul {
    list-style-type: none;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #222130;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

.menu-contacts ul {
    list-style-type: none;
    overflow: hidden;
}

.menu-contacts li {
    float: left;
}

.ninja-2 {
    position: absolute;
    top: 10px;
    left: 950px;
}

.git-footer {
    position: absolute;
    top: 5px;
    left: 370px;
}


h1,
h2 {
    font-family: 'Cinzel';
    color: #e0b300;
}

h3 {
    box-shadow: 0 0 20px black;
    font-family: 'Cinzel';
    text-align: center;

}

h4 {
    font-family: 'Cinzel';
    text-align: left;
}

hr {
    border: 1px solid #222130;
    box-shadow: 0 0 10px #e0b300;
}

a {
    font-family: 'Cinzel';
    text-decoration: none;
    color: black;
}

.skills {
    width: 280px;
    left: 10px;
    text-align: left;
}

pre {
    box-shadow: 0 0 20px black;
    text-align: left;
}